COUNTEROS_ENV=production
COUNTEROS_HOST=127.0.0.1
COUNTEROS_BACKEND_PORT=8000
COUNTEROS_FRONTEND_PORT=3000
COUNTEROS_DATABASE_PATH=/var/lib/counteros/counteros.sqlite3
COUNTEROS_SUPPORT_BUNDLE_DIR=/var/lib/counteros/support-bundles
COUNTEROS_LOG_DIR=/var/log/counteros
COUNTEROS_SYNC_ADAPTER=development
COUNTEROS_FRONTEND_URL=http://127.0.0.1:3000/startup
